* {
  padding: 0;
  margin: 0;
}
.container {
  width: 900px;
  height: 600px;
  background-color: rgb(250, 245, 245);
  margin: 5px auto;
  position: relative;
  overflow: hidden;
}
.container .slider {
  position: absolute;
  width: 900px;
  height: 600px;
  top: 0;
  left: 0;
}
.container .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 600px;
}
.container .fa-angle-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
}
.container .fa-angle-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
}
.container .indicators {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.container .indicators .indicator {
  margin: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  border-radius: 50%;
  cursor: pointer;
  float: left;
}
.indicator.active {
  border: none;
  background-color: #ffffff85;
}
.activeMoveleft {
  animation: moveleft900 0.5s linear forwards;
}
@keyframes moveleft900 {
  0% {
    left: 900px;
  }
  100% {
    left: 0px;
  }
}
.inactiveMoveLeft {
  animation: moveleft0 0.5s linear forwards;
}
@keyframes moveleft0 {
  from {
    left: 0px;
  }
  to {
    left: -900px;
  }
}
.activeMoveRight {
  animation: moveToRight0 0.5s linear forwards;
}
@keyframes moveToRight0 {
  0% {
    left: -900px;
  }
  100% {
    left: 0px;
  }
}
.inactiveMoveRight {
  animation: moveToRight900 0.5s linear forwards;
}
@keyframes moveToRight900 {
  from {
    left: 0px;
  }
  to {
    left: 900px;
  }
}
